{% load widget_tweaks %}

<!-- Define Grid container div -->
<div class="flex flex-col-reverse md:grid md:grid-cols-4 md:gap-6 p-6" id="charts-container">

    <!-- 3/4 cols for the table of transactions -->
    <div class="col-span-3 space-y-6">
        <!-- Income vs Expense bar chart -->
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
            {{ income_expense_barchart|safe }}
        </div>

        <!-- Income and Expense pie charts -->
        <div class="grid grid-cols-2 gap-4">
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
                {{ category_income_pie|safe }}
            </div>
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
                {{ category_expense_pie|safe }}
            </div>
        </div>
    </div>

    <!-- 1/4 cols for the filter form -->
    <div class="col-span-1 bg-gray-800 p-6 rounded-lg shadow-lg">
        <form hx-get="{% url 'transactions-charts' %}"
              hx-target="#charts-container"
              hx-swap="outerHTML"
              hx-indicator="#spinner"
              id="filterform">
            
            <!-- Transaction Type Dropdown -->
            <div class="mb-4 form-control">
                <label for="{{ filter.form.transaction_type.id_for_label }}" class="text-white text-lg font-semibold mb-2">
                    {{ filter.form.transaction_type.label }}
                </label>
                {% render_field filter.form.transaction_type class="select bg-gray-700 text-gray-300 border-none rounded focus:ring-2 focus:ring-indigo-500 focus:outline-none" %}
            </div>

            <!-- Start Date -->
            <div class="mb-4 form-control">
                <label for="{{ filter.form.start_date.id_for_label }}" class="text-white text-lg font-semibold mb-2">
                    {{ filter.form.start_date.label }}
                </label>
                {% render_field filter.form.start_date class="input bg-gray-700 text-gray-300 border-none rounded focus:ring-2 focus:ring-indigo-500 focus:outline-none" %}
            </div>

            <!-- End Date -->
            <div class="mb-4 form-control">
                <label for="{{ filter.form.end_date.id_for_label }}" class="text-white text-lg font-semibold mb-2">
                    {{ filter.form.end_date.label }}
                </label>
                {% render_field filter.form.end_date class="input bg-gray-700 text-gray-300 border-none rounded focus:ring-2 focus:ring-indigo-500 focus:outline-none" %}
            </div>

            <!-- Category Checkboxes Stacked Vertically -->
            <div class="mb-6 form-control">
                <label for="{{ filter.form.category.id_for_label }}" class="text-white text-lg font-semibold mb-2">
                    {{ filter.form.category.label }}
                </label>
                <div class="space-y-4">
                    {% for category in filter.form.category.field.queryset %}
                        <div class="flex items-center">
                            <input type="checkbox" name="category" value="{{ category.pk }}" id="category_{{ category.pk }}" class="bg-gray-700 text-green-500 border-none rounded focus:ring-2 focus:ring-green-500 focus:outline-none" />
                            <label for="category_{{ category.pk }}" class="text-white ml-2">{{ category }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="w-full py-3 bg-green-600 text-white rounded-lg hover:bg-green-700 transition-colors duration-300">
                Filter
            </button>
        </form>

        <!-- Loading Spinner -->
        <span id="spinner" class="loading loading-spinner loading-lg htmx-indicator mt-4 text-center">
        </span>
    </div>
</div>
